<div class="container">
	  <div class="row ml-3 mb-5 mt-3">
      <h2 class="head-line title_h2 text-left bg-light d-inline-block">商品一覧</h2>
    </div>
　<%= link_to new_admin_item_path, method: :get, class: "btn btn-default" do %>
    <i class="fas fa-plus-circle fa-2x"></i>
  <% end %>
<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
     <td><%= item.id %></td>
     <td><%= link_to item.name, admin_item_path(item.id) %></td>
     <td><%= item.non_taxed_price.to_s(:delimited) %></td>
     <td><%= item.genre.name %></td>
     <td>
    <% if item.sales_status == true %>
     <a class="text-success font-weight-bold">販売中</a>
    <% else %>
     <a>販売停止中</a>
	<% end %>
     </td>
     </tr>
    <% end %>
  </tbody>
</table>
　<ul class="pagination justify-content-center">
   <%= paginate @items %>
  </ul>
</div>
