<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-8">
      <h2 class="head-line title_h2 text-center">マイページ</h2>
      <h4>登録情報　<%= link_to "編集する", public_members_edit_path, class: 'btn btn-success' %></h4>
      <table class="table table-bordered ">
      <thead>
     	<tr>
			 <td>氏名</td>
			 <td><%= @member.last_name %>　<%= @member.first_name %></td>
		  </tr>
	    <tr>
			 <td>カナ</td>
		 	 <td><%= @member.kana_last_name %>　<%= @member.kana_first_name %></td>
		  </tr>
		  <tr>
			 <td>郵便番号</td>
			 <td><%= @member.postal_code %></td>
		  </tr>
		  <tr>
			 <td>住所</td>
			 <td><%= @member.residence %></td>
		  </tr>
		  <tr>
			 <td>電話番号</td>
			 <td><%= @member.phone_number %></td>
		  </tr>
      <tr>
			 <td>メールアドレス</td>
			 <td><%= @customer.email %></td>
		  </tr>
   	 </thead>
	 </table>
    </div>
  </div>
</div>

