<div class="container">
    <div class="row ml-3 mb-5 mt-3">
    <h2 class="head-line title_h2 text-left bg-light d-inline-block">注文履歴一覧</h2>
    </div>

　　　　<div class="row">
	      <table class="table table-bordered">
	       <thead class="table-active">
					<tr>
						<th>注文日</th>
						<th>配送先</th>
						<th>注文商品</th>
						<th>支払金額</th>
						<th>ステータス</th>
						<th>注文詳細</th>
					</tr>
		     </thead>
		     <tbody>
		      <% @orders.each do |order| %>
		     	<tr>
		     		<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
		     		<td>
		     		  <%= order.delivery_code %></br>
              		  <%= order.delivery_address %></br>
              		  <%= order.address %>
		     		</td>
		     		<td>
		     			<% order.order_items.each do |order_item| %>
		     			<%= order_item.item.name %>
		     			<% end %>
		     		</td>
		     		<td><%= order.invoice_amount.to_s(:delimited) %></td>
		     		<td><%= order.request_status_i18n %></td>
		     		<td><%= link_to "表示する", order_path(order.id), class:"btn btn btn-primary" %></td>
		     	</tr>
		     	<% end %>
		     </tbody>
		    </table>
       <div>
</div>